.grid {
  width: 400px;
  height: 600px;
  background-color: yellow;
  background-image: url('img/background.png');
  position: relative;
  font-size: 200px;
  text-align: center;
}

.doodler {
  width: 60px;
  height: 85px;
  background-image: url('img/doodler.png');
  position: absolute;
}

.platform {
  width: 85px;
  height: 15px;
  background-image: url('img/platform.png');
  position: absolute;
}
